
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" routerLink="/">Med Movies</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" routerLink="/" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link" routerLink="/movies">Movies</a>
                </li>

                <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link" routerLink="/tv">TV Shows</a>
                </li>

                <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link" routerLink="/categories">Categories</a>
                </li>
                
            </ul>

            
           
        </div>
  </div>
</nav>
